{% extends "layout.html" %}


{% block head %} 
<style>
    body { background-color: #30303d; color: #fff; }
</style>
{%endblock%}

{% block body %}

<div class="container" style="text-align: center;">
    <h2>Projet :</h2>
    <br>
    <p>
        Ce projet à été réalisé dans le cadre de ma formation <a href="https://openclassrooms.com/fr/paths/188-ingenieur-ia" target="_blank">"Ingénieur IA" d'OpenClassroom.</a>
        <br> Voici le contexte de ce projet:<br>
    </p>
        <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" width="400px" style="margin: 20px;"> -->
    <p>
        <div class="alert alert-warning" role="alert">
           [A Completer...]
        </div>
    </p>
    <h2>A propos de moi :</h2>
    <p>
        <div class="alert alert-warning" role="alert">
            [A Completer...]
         </div>
        
    </p>
</div>

{%endblock%}





{% block script %}

{%endblock%}